* {
  scroll-behavior: smooth !important;
}

.borderBlack {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  z-index: 49;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}