@import url('https://fonts.googleapis.com/css?family=Kavoon');
@import url('https://fonts.googleapis.com/css?family=Manjari');
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-clip: url; */
    background-color: #141313;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: white;
    
}
.fade{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.683);
   
    position: fixed;
    top: 0;
    z-index: -1;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
   
    background-size: cover;
    transform: rotateY(180deg);
   
  }
.wrap{
    display: flex;

}

.graphic{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -10;
}
.graphic img{
    width: 100%;
}

.menu{

    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 75px;
}
.left{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: kavoon;
    
    padding-right: 20px;
}
.left *{
    padding-right: 20px;
}

.right{
    font-family: Manjari;
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
}
.right ul, .right li, .right a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    cursor: pointer;
}
.right ul a{
    display: inline-block;
    padding: 8px 25px;
    border-radius: 45px;

}
.right a:hover{
    background-color: rgb(29, 29, 29);
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.centerContent{
    /* border: 1px solid white; */
    margin:  100px 0px;
}

.bottomContent{
    position: fixed;
    bottom: 15px;
    width: auto;

}
.bottomContent img{
   padding: 0px 8px;

}

.menuLeft{
    font-family: Manjari;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    padding-left: 72px;
}
.cont1{
    font-size: 56.067px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cont1 span{
    background: linear-gradient(180deg, #ff00d4 16.84%, #7a4aff 100%);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kavoon;
    font-size: 56.067px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cont2{

    font-family: Kavoon;
    font-size: 42.761px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cont3{
    font-size: 15.467px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-family: Manjari;
    font-size: 15.467px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.cont4{

    display: flex;
}

.btn1 {
    cursor: pointer;
    width: 96.667px;
    height: 42.533px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0085FF;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.00);
    width: 133.4px;
    height: 42.533px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuRight{
    /* border: 1px solid white; */
    width: 50vw;
    height: 90vh;
    /* width: 655px;
    height: 660px; */
    display: flex;
    justify-content: center;
    
}
.menuRight img{
    height: 120%;
 }


 
 /* gallery css start here */
.wrapGallery{
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content:flex-start; */
    gap: 0.6em;
    height: fit-content;
    margin: 0px 75px;
}
 .galleryImg{
  
    max-width: 270px;
    height: 12em;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
 }
 .galleryImg img{
    cursor: pointer;
    height: 100%;

 }
 .galleryImg:hover{
    scale: 1.15;
 }